<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>{{page_title}} - {{site_title}}</title>
    <link rel="stylesheet" href="{{abs}}/style/main.css" type="text/css">
    {{>ie}}
  </head>
  <body>
    <header id="banner" class="body">
      <nav>
      <ul>
      	<li><a href="{{survey_list}}">All Surveys</a></a>
      </ul>
      <aside id="account"></aside>
      </nav>
    </header>
    
    <aside id="featured" class="body">
    <article>
    <h2>{{page_title}}</h2>
    <p>Please select one of the available surveys to complete.
    </article>
    </aside>