{{>header}}

<aside id="featured" class="body">
    <article><h2>{{page_title}}</h2></article>
</aside>

<section id="content" class="body">
	
	<div id="survey"> {{! required by evently }}
	<form action="#" encoding="utf-8">
	  {{#questions}}
	  <fieldset>
	  	<p><legend>{{ask}}</legend></p>
	  	{{#answers}}
	  		<p><label><input type="{{type}}" name="{{q}}" value="{{answer}}" >{{answer}}</label></p>
	  	{{/answers}}
	  </fieldset>
	  {{/questions}} 
	   
	  <input type="hidden" name="response_to" value="{{response_to}}" >
	  <input type="hidden" name="type" value="survey_response" > 
	  </div><input type="submit">
	</form>
</section>

</body>
  
{{>scripts}}

<script type="text/javascript" charset="utf-8">
    $.couch.app(function(app) {
      $("#account").evently("account", app);
      $("#survey").evently("survey", app);
    });
</script>

</html>